{% macro render_field(field) %}

<div class="form-group">
    {{ field.label }}
    {% if field.errors %}
    {{ field(class="form-control is-invalid")}} 
    <div class="invalid-feedback">
      {% for error in field.errors %}
          <span>{{ error }}</span>
      {% endfor %}
    </div>
  {% else %}
    {{ field(class="form-control")}} 
  {% endif %}	
</div>

{% endmacro %}

{% macro render_file_field(field) %}

<div class="form-group">
    {{ field.label }}
    {{ field(class="form-control-file") }}
    {% if field.errors %}
    {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
    {% endfor %}
{% endif %}
</div>

{% endmacro %}