{% extends "layout.html" %}
{% from "_render_form_field.html" import render_field, render_file_field %}

{% block content %}
		<div class="row justify-content-between">
			<div class="col-6">
				<h3>Class: {{ current_class.name }}</h3>
			</div>
			<div class="col">
                <button type="button" class="btn btn-success btn-block" data-toggle="collapse" data-target="#createReport">Create Report</button>
            </div> 
			<div class="col-1">
				<a role="button" class="btn btn-dark" href="{{ url_for('classrooms.home') }}"><span class="fas fa-long-arrow-alt-left"></span></a>
			</div>
		</div>
		<div class="row collapse" id="createReport">
			<div class="col">
				<div class="card card-body">
					<form method="POST" action="" enctype="multipart/form-data" novalidate>
						{{ form.hidden_tag() }}
						{{ render_field(form.start_sentence) }}
						{{ render_file_field(form.chat_file)}}
						{{ render_field(form.time) }}
						<div class="form-group">
							{{ form.submit(class="btn btn-outline-info") }}
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Student Name</th>
							<th scope="col">Class</th>
							<th scope="col">Id Number</th>
							<th scope="col">Phone</th>
							<th scope="col">gender</th>
						</tr>
					</thead>
					<tbody>
						{% for student in current_class.students %}
							<tr>
								<td>{{ student.name }}</td>
								<td>{{ student.org_class }}</td>
								{% if student.id_number == None %}
									<td></td>
								{% else %}
									<td>{{ student.id_number }}</td>
								{% endif %}
								{% if student.phone == None %}
								<td></td>
								{% else %}
									<td>{{ student.phone }}</td>
								{% endif %}
								{% if student.gender == None %}
								<td></td>
								{% else %}
									{% if student.gender %}
										<td>Male</td>
									{% else %}
										<td>Female</td>
									{% endif %}
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

{% endblock content %}