{% extends "layout.html" %}
{% from "_render_form_field.html" import render_field %}

{% block content %}

<form method="POST" action="" style="width: 500px; margin:auto" novalidate>
    {{ form.hidden_tag() }}
    {{ render_field(form.auth) }}
    {{ render_field(form.password)}}
    <div class="form-check">
        {{ form.remember(class="form-check-input") }}   
        {{ form.remember.label() }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info")}}
    </div>
</form>

{% endblock content %}