{% extends "layout.html" %}
{% block content %}
<form method="POST" action="" style="width: 500px; margin:auto" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label() }}

        {% if form.username.errors %}
          {{ form.username(class="form-control is-invalid")}} 
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
                <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.username(class="form-control")}} 
        {% endif %}
    </div>       
    <div class="form-group">
      {{ form.email.label() }}

      {% if form.email.errors %}
        {{ form.email(class="form-control is-invalid")}} 
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
              <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.email(class="form-control")}} 
      {% endif %}

    </div>     
    <div class="form-group">
        {{ form.password.label() }}
        
      {% if form.password.errors %}
        {{ form.password(class="form-control is-invalid")}} 
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
              <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.password(class="form-control")}} 
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.confirm_password.label() }}
      
    {% if form.confirm_password.errors %}
      {{ form.confirm_password(class="form-control is-invalid")}} 
      <div class="invalid-feedback">
        {% for error in form.confirm_password.errors %}
            <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ form.confirm_password(class="form-control")}} 
    {% endif %}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info")}}
    </div>
</form>
{% endblock content %}